# Dependency directories
node_modules/
build/
public/

# Lock
yarn.lock
package-lock.json

# dotenv environment variables file
.env
.env.test
.env.development
.env.production
.env.staging